{:paths ["src/main/clojure"]
 :deps {
   io.github.clojure/clr.tools.gitlibs {:git/tag "v2.5.197" :git/sha "a45c55f"}
   io.github.clojure/tools.cli {:git/tag "v1.1.230" :git/sha "717e187"}
 }
 :aliases {
   :test {:extra-paths ["src/test/clojure"]}
 }
}